# Removing all node_modules 
# They can be installed with npm i
node_modules/
yarn.lock

# Removing the build folder
# It can be created with npm run build 
build/


.firebase/
firebase-debug.log

# Removing package-lock
package-lock.json

# Removing examples from cypress module
cypress/e2e/2*/
cypress/screenshots/

# Removing debug files from firebase
database-debug.log
ui-debug.log

# Removing python virtual env
venv/

# Removing the report for coverage
.nyc_output/
coverage/
