.course-container {
    margin: 5%;
    margin-bottom: 0;
}

.course-navigation {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-left: 3%;
    margin-right: 3%;
}

.course-navigation button {
    background-color: white;
    color: black;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
}

.course-navigation button.active {
    border-bottom: 3px solid green;
}

.course-navigation button:not(.active) {
    border-bottom: 3px solid black;
}

.add-button {
    background-color: var(--selected-color);
    color: white;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    padding-bottom: 15px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.add-button svg {
    font-size: 20px;
    margin-right: 10px;
}

.course-home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course-home a {
    text-decoration: none;
    width: 20%;
}

.ressource-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}