
  
  .form-container {
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .event-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
  }
  
  button[type="submit"] {
    background-color: var(--selected-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }

  .error-message {
    color: red;
    margin-top: 5px;
    font-size: 14px;
  }
  
  .datetime-picker-container {
    display: flex;
    align-items: center;
  }
  
  .datetime-picker-container input {
    margin-right: 10px;
  }
  
  .datetime-picker-container input[type="date"],
  .datetime-picker-container input[type="time"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .datetime-picker-container input[type="date"]:focus,
  .datetime-picker-container input[type="time"]:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .datetime-picker-container label {
    font-weight: bold;
    margin-right: 10px;
  }