.group-navigation {
    background-color: #2a2e49;
    width: 300px;
    top: 84px;
    position:fixed;
    height: 100%;
    z-index: 5;
    overflow-y: scroll;
}

.group-navigation-ghost {
    width: 385px;
    top: 84px;
    position:sticky;
}

.nav-container {
    background-color: #2a2e49;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.group-nav-item{
    background-color: var(--selected-color);
    padding: 8px 8px 8px 20px;
    color: white;
    transition: background-color 0.3s ease;
}

.group-nav-item:hover{
    background-color: white;
    color: var(--selected-color);
}

.group-nav-item:hover a{
    color: white;
}

.group-header h1{
    background-color: #2a2e49;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    border-bottom: 1px solid #3D415A;
    transition: background-color 0.3s ease;
}

.your-groups {
    cursor: inherit !important;
}

.your-groups:hover{
    background-color: #2a2e49 !important;
}

.no-groups {
    display: flex;
    align-items: center;
    background-color: #2a2e49;
    transition: background-color 0.3s ease;
}

.no-groups h1 {
    background-color: inherit;
}

.no-groups:hover{
    background-color: #3D415A;
}

.no-groups svg {
    font-size: 3em;
    margin-right: 10px;
    color: white;
}

.group-header h1:hover, h1.group-nav-link.active, .group-header h1:focus{
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
    cursor: pointer;
}

h1.group-nav-link.active, .group-header h1:focus{
    background-color: white;
    color: #2a2e49;
}

.group-header h1:hover{
    background-color: #3D415A;
    color: white;
}

.group-menu {
    transition: transform 0.3s ease;
}
  
.group-menu.open {
    transform: translateX(0); 
}
  
.group-menu.closed {
    transform: translateX(-100%);
}


@media screen and (max-width:1024px){
    /* .group-navigation{
        display: none;
    } */

    /* Mobile display of the menu */
    
}

@media screen and (max-width:768px){

    .background {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.95);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;
    }

    .background.open {
        visibility: visible;
        opacity: 0.8;
        transition: opacity 0.3s ease;
    }

    .group-navigation{
        position: fixed;
        top: 72.19px;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: #2a2e49;
        z-index: 6;
        transition: width ease-in-out 0.3s;
    }

    .group-navigation > *{
        display: none;
        visibility: hidden;
        animation: slideInFromLeft 0.2s forwards;
    }

    /* if an element have the class group-navigation and open */
    .group-navigation.open{
        width: 90%;
        display: block;
    }

    .group-navigation.open > * {
        display: block;
    }

    @keyframes slideInFromLeft {
        0% {
          visibility: visible;
          transform: translateX(-100%);
        }
        100% {
          visibility: visible;
          transform: translateX(0);
        }
      }

    .group-navigation-ghost{
        display: none;
    }

    .group-navigation.active{
        display: block;
    }

    .group-nav-item{
        background-color: var(--selected-color);
        color: white;
        padding: 10px 20px;
    }

    .group-nav-item:hover{
        background-color: #3D415A;
        color: white;
    }

    .group-navigation.active{
        display: block;
    }

    .group-nav-item{
        background-color: var(--selected-color);
        color: white;
        padding: 10px 20px;
    }

    .group-nav-item:hover{
        background-color: #3D415A;
        color: white;
    }
}