.group-navigation {
    background-color: #fff;
    border-radius: 20px;
    width: 200px;
    top: 84px;
    position: sticky;
}

.nav-container {
    background-color: #2a2e49;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.2);
}

.group-nav-item{
    background-color: var(--selected-color);
    padding: 8px 8px 8px 20px;
    color: white;
}

.group-nav-item:hover{
    background-color: white;
    color: var(--selected-color);
}

.group-nav-item:hover a{
    color: white;
}

.group-header h1{
    background-color: #2a2e49;
    color: white;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}

.group-header h1:hover, h1.group-nav-link.active, .group-header h1:focus{
    background-color: white;
    color: #2a2e49;
    margin: 0;
    padding: 10px;
    font-size: 1.5em;
}