.group-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
  }
  
  .group-content .home {
    width: 100%;
  }

  .group-content .postInput {
    width: 80%;
  }