.logout {
    position: absolute;
    top: 10px;
    right: 10px;
}

.post-list {
    margin: 4vh;
    width: 80%;
}

.main-container {
    display: flex;
    flex-direction: row;
    
}

.refresh-button {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--selected-color);
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 100%;
  }

  body {
    overflow-y: scroll;
  }