.manage-window {
    padding-left: 5%;
    z-index: 9999;
    width: 90%;
    max-height: 60%;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .manage-window h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .manage-window ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .manage-window li {
    margin-bottom: 10px;
  }
  
  .manage-window span {
    margin-right: 10px;
  }
  
  .manage-window select {
    width: 60%;
    height: 100%;
  }
  
  .manage-window button {
    padding: 10px 20px;
    background: var(--selected-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: opacity ease 0.3s;
  }

  .closeSubscribers {
    padding: 10px 20px;
    background: var(--selected-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: opacity ease 0.3s;
  }
  
  .manage-window button:hover {
    opacity: 0.8;
  }

  .closeSubscribers:hover {
    opacity: 0.8;
  }

  .member-name {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
  }

  .member-name-displayed {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    width: 70%;
  }

  .member-role {
    width: 40% !important;
  }

  .follow-btn {
    background: var(--selected-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: all ease 0.3s;
    width: 30%;
    margin-bottom: 5px;
  }

  .unfollow-btn {
    background: #fff !important;
    border: solid 1px var(--selected-color) !important;
    border-radius: 5px;
    color: var(--selected-color) !important;
    cursor: pointer;
    transition: all ease 0.3s;
    width: 30%;
    margin-bottom: 5px;
  }

  .row-member {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .manage-window div {
    width: 100%;
  }

  .manage-window-buttons {
    display: flex;
    justify-content: center;
  }
  
  .manage-window-buttons button {
    background-color: #fff;
    color: black;
    border: none;
    border-radius: 0px !important;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  .manage-window-buttons button.active {
    background-color: #fff;
    border-bottom: 3px solid green;
  }
  
  .manage-window-buttons button:not(.active) {
    border-bottom: 3px solid black;
  }

  .row-member button {
    border: none;
    padding: none;
    margin: none;
    cursor: pointer;
  }

  .row-member button:nth-last-child(2) {
    background-color: green;
  }

  .row-member button:last-child {
    background-color: red;
  }

  @media screen and (max-width: 768px){
    .subscribers-list {
      margin-top: 5%;
    }
  }