/* Full-width inputs */
.easy-nput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.checkbox-container {
  display: flex;
  /* justify-content: space-evenly; */
}

.name {
  width: 49% !important;
}

.name + .name {
  margin-left: 2% !important;
}

.log-button {
  background-color: var(--selected-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  transition: opacity 0.3s ease;
}

.log-button:disabled {
  background-color: #cccccc;
  color: #888888;
  cursor: not-allowed;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.aknowledge-button {
  background-color: var(--selected-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  transition: opacity 0.3s ease;
}

.error {
  color: red;
  font-size: 0.75em;
}
