/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.name {
  width: 49% !important;
}

.name + .name {
  margin-left: 2% !important;
}

/* Set a style for all buttons */
.log-button {
  background-color: var(--selected-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 0.75em;
}
