/* Full-width inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.name {
  width: 49% !important;
}

.name + .name {
  margin-left: 2% !important;
}

/* Set a style for all buttons */
.log-button {
  background-color: var(--selected-color);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.error {
  color: red;
  font-size: 0.75em;
}

.image-button {
  display: none;
}
.image-button-label {
  display: inline-block;
  cursor: pointer;
}

.image-button-label img {
  width: 4.5vw;
  height: 4.5vw;
  border: 0px solid #ccc;
  border-radius: 45px;
  margin: 0.2vw;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  filter: grayscale(100%); /* Applique le filtre gris à toutes les images */
}

.image-button:checked + img {
  border-color: #ff0000;
  filter: none; /* Applique le filtre gris à toutes les images */
}

.password-rules {
  display: flex;
  align-items: center;
}

.valid {
  color: green;
  margin-right: 5px;
}

.invalid {
  color: red;
  margin-right: 5px;
}

.valid img,
.invalid img {
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

.password-rule {
  padding: 0px;
  margin: 0px;
  margin-right: 10px;
  font-size: 0.9em;
  color: dimgray;
}