.modelForm{
    margin-top: 20px;
}
.row1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.modelForm .inputBox1{
    width: 100%;
    margin-bottom: 30px;
    height: 50px;
}

.inputBox2 textarea{
    width: 90%;
    height: 100px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    resize: none;
}

.modelForm .inputBox2 {
    width: 100%;
}
.modelForm .inputBox1 input{
    width: 90%;
    height: 100%;
    padding: 0px 10px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}
.modelForm .inputBox1 input:focus{
    border: 1px solid orangered;
}
.modelBtn{
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
    background: #fff;
    color: var(--selected-color);
    border: 1px solid var(--selected-color);
    border-radius: 5px;
    cursor: pointer;
}
.modelBtn:hover{
    background-color: var(--selected-color);
    color: #fff;
    opacity: 1 !important;
}
.cancelBtn{
    font-size: 16px;
    padding: 10px 20px;
    text-transform: capitalize;
    background-color: #fff;
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    cursor: pointer;
}
.cancelBtn:hover{
    background-color: red;
    color: #fff;
}
.btn-container{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.warning {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:430px){
    .modelForm{
        margin-top: 10px;
    }
    .row1{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
    }
    .modelForm .inputBox1{
        height: 40px;
    }
    .modelBtn{
        font-size: 14px;
        padding: 5px 10px;
    }
    
    .modelTitle {
        font-size: 20px;
        font-weight: 600;
        margin-top: 50px;
    }

    
}