.passwordInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #ccc;
  margin: 16px 0;
}

.passwordInput > .id {
  padding: 4px;
}

.passwordInput > input {
  border: none;
  background-color: none;
  margin: 0;
}
