.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
}

.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-username {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.post-username p {
    margin: 0;
    font-weight: bold;
}

.post-body {
    margin-top: 8px;
    overflow-wrap: break-word;
    text-align: left;
}

.post-footer {
    margin-top: 16px;
    text-align: left;
}

.post-like-btn,
.post-comment-btn,
.post-share-btn {
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 8px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s ease;
}

.post-like-btn:hover,
.post-comment-btn:hover,
.post-share-btn:hover {
    background-color: #e0e0e0;
}

.post-school {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.post-like-btn.liked {
    /* Styles du bouton lorsque le post est liké */
    color: var(--selected-color); /* Couleur du cœur rempli */
}

.comment-btn {
    background-color: var(--selected-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.comments-toggle {
  display: block !important;
    cursor: pointer;
    color: blue; /* Couleur du texte */
  }
  
  .comments-toggle:hover {
    text-decoration: underline; /* Souligner le texte au survol */
  }

  .comments {
    overflow: hidden;
  }

  .comments > * {
    visibility: hidden;
    animation: slideInFromTop 0.3s forwards;
  }
  
  .comments.expanded > * {
    visibility: visible;
    display: block;
    animation: slideInFromTop 0.3s forwards;
  }

  @keyframes slideInFromTop {
    0% {
      visibility: visible;
      transform: translateY(-100%);
    }
    100% {
      visibility: visible;
      transform: translateY(0);
    }
  }

.post-date{
    font-weight: 100;
}

.post-menu {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
  }

  .post-options {
    cursor: pointer;
  }

  /* Styles pour le menu contextuel */
.react-contextmenu {
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 0;
    min-width: 160px;
    color: red;
  }
  
  .react-contextmenu-item {
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
  }
  
  .react-contextmenu-item:hover {
    background-color: #f5f5f5;
  }
  
  .react-contextmenu-item:disabled {
    color: #999;
    cursor: not-allowed;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu {
    position: relative;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu::after {
    content: "▶";
    position: relative;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
  
  .react-contextmenu-item.react-contextmenu-submenu:hover::after {
    color: #666;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu-disabled::after {
    color: #999;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-child {
    display: none;
  }
  
  .react-contextmenu-item.react-contextmenu-submenu-open > .react-contextmenu-child {
    display: block;
  }
  
  .react-contextmenu-child {
    margin-left: 12px;
    margin-top: 4px;
  }

  .post-photos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
  }
  
  .post-photo {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .post-photo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .post-gif {
    margin-top: 20px;
    border-radius: 10px;
    position: relative;
  }

  .post-gif img {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    border-radius: 10px;
  }

  .overlay {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
  }
  
  .overlay.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .expanded-image-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: scale(0);
    transition: transform 0.3s ease;
  }

  .expanded-image-content.visible {
    transform: scale(1);
  }

  .expanded-image-content div div:first-child {
    display: none;
  }
  
  .expanded-image {
    z-index: 9;
  }

  .expanded-image-header {
    z-index: 10;
    position: absolute;
    opacity: 0.8;
    width: 100%;
    top: 0px;
    left: 0;
    display: flex;
    padding-top: 30px;
    padding-bottom: 10px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    background-color: black;
  }

  .expanded-image-header p {
    margin: 0;
    font-weight: bold;
    color: white;
  }

  .expanded-image-header a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .back-arrow {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    color: white;
    width: 10%;
    height: auto;
    z-index: 10;
  }

  .back-arrow svg {
    width: 100%;
    height: 100%;
  }

  .post-scroll {
    overflow: hidden
  }

  .comment-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-input-icons {
    display: flex;
    align-items: center;
  }

  .comment-input-field {
    width:100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
  }

  .context-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    transition: opacity ease-in-out 0.3s;
  }

  .menu-delete {
    width: 80%;
    text-align: center;
  }

  .menu-item {
    color: black;
    width: 80%;
    text-align: center;
    transition: all ease 0.3s;
  }

  .modal {
    /* Styles pour le modal lui-même */
  }
  
  .modal-title {
    /* Styles pour le titre "Report Post" */
  }
  
  .modal-form {
    /* Styles pour le formulaire */
  }
  
  .modal-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
  }
  
  .modal-select {
    /* Styles pour la liste déroulante */
    padding: 8px;
  }
  
  .modal-textarea {
    /* Styles pour le champ de texte multiligne */
    resize: none;
  }
  
  .modal-submit {
    /* Styles pour le bouton de soumission */
    background-color: var(--selected-color);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .modal-submit:hover {
    opacity: 0.8;
  }
  
  .modal-close-button {
    /* Styles pour le bouton "Close" */
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;
  }

  .modal-footer {
    /* Styles pour le pied de page du modal */
    display: flex;
    justify-content: space-between;
  }

@media screen and (max-width: 768px) {
    .post-share-btn {
      display: none;
    }

    .expanded-image {
      width: 100%;
      margin: 0;
    }
  
}