.post {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.post-header {
    display: flex;
    align-items: center;
}

.post-header a {
    display: flex;
    align-items: center;
}
.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}

.post-username {
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.post-body {
    margin-top: 8px;
    overflow-wrap: break-word;
    text-align: left;
}

.post-footer {
    margin-top: 16px;
}

.post-like-btn,
.post-comment-btn {
    padding: 8px 8px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    margin-right: 8px;
    cursor: pointer;
    color: black;
}

.post-like-btn:hover,
.post-comment-btn:hover {
    background-color: #e0e0e0;
}

.post-school {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.post-like-btn.liked {
    /* Styles du bouton lorsque le post est liké */
    color: var(--selected-color); /* Couleur du cœur rempli */
}

.comment-btn {
    background-color: var(--selected-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}

.comments-toggle {
    cursor: pointer;
    color: blue; /* Couleur du texte */
  }
  
  .comments-toggle:hover {
    text-decoration: underline; /* Souligner le texte au survol */
  }
