.ressource-list {
    display: flex;
    flex-direction: rows;
    margin-top: 10px;
    padding-top: 10px;
    border-top: solid 1px #ccc;
  }
  
  .ressource {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--selected-color);
    text-decoration: none;
    width: auto !important;
    margin-right: 3%;
  }

  .ressource svg {
    font-size: 50px;
  }